Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Entry module not found: Error: Can't resolve '/Users/revit/brackets-js-workspace/o  bsessed-revith/views/index.pug' in '/Users/revit/brackets-js-workspace/obsessed-re  vith':
  Error: Can't resolve '/Users/revit/brackets-js-workspace/obsessed-revith/views/ind  ex.pug' in '/Users/revit/brackets-js-workspace/obsessed-revith'
  
  - compiler.js:76 
    [obsessed-revith]/[html-webpack-plugin]/lib/compiler.js:76:16
  
  - Compiler.js:300 compile
    [obsessed-revith]/[webpack]/lib/Compiler.js:300:11
  
  - Compiler.js:510 applyPluginsAsync.err
    [obsessed-revith]/[webpack]/lib/Compiler.js:510:14
  
  - Tapable.js:202 next
    [obsessed-revith]/[tapable]/lib/Tapable.js:202:11
  
  - CachePlugin.js:78 Compiler.<anonymous>
    [obsessed-revith]/[webpack]/lib/CachePlugin.js:78:5
  
  - Tapable.js:206 Compiler.applyPluginsAsyncSeries
    [obsessed-revith]/[tapable]/lib/Tapable.js:206:13
  
  - Compiler.js:507 compilation.seal.err
    [obsessed-revith]/[webpack]/lib/Compiler.js:507:11
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [obsessed-revith]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:677 applyPluginsAsync.err
    [obsessed-revith]/[webpack]/lib/Compilation.js:677:19
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [obsessed-revith]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:668 applyPluginsAsync.err
    [obsessed-revith]/[webpack]/lib/Compilation.js:668:11
  
  - Tapable.js:202 next
    [obsessed-revith]/[tapable]/lib/Tapable.js:202:11
  
  - index.js:244 Compilation.<anonymous>
    [obsessed-revith]/[uglifyjs-webpack-plugin]/dist/index.js:244:6
  
  - Tapable.js:204 next
    [obsessed-revith]/[tapable]/lib/Tapable.js:204:14
  
  - index.js:244 Compilation.<anonymous>
    [obsessed-revith]/[uglifyjs-webpack-plugin]/dist/index.js:244:6
  
  - Tapable.js:206 Compilation.applyPluginsAsyncSeries
    [obsessed-revith]/[tapable]/lib/Tapable.js:206:13
  
  - Compilation.js:663 applyPluginsAsync.err
    [obsessed-revith]/[webpack]/lib/Compilation.js:663:10
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [obsessed-revith]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:659 applyPluginsAsyncSeries
    [obsessed-revith]/[webpack]/lib/Compilation.js:659:9
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [obsessed-revith]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:602 Compilation.seal
    [obsessed-revith]/[webpack]/lib/Compilation.js:602:8
  
  - Compiler.js:504 applyPluginsParallel.err
    [obsessed-revith]/[webpack]/lib/Compiler.js:504:17
  
  - Tapable.js:289 
    [obsessed-revith]/[tapable]/lib/Tapable.js:289:11
  
  - Compilation.js:505 _addModuleChain
    [obsessed-revith]/[webpack]/lib/Compilation.js:505:11
  
  - Compilation.js:388 errorAndCallback.bail
    [obsessed-revith]/[webpack]/lib/Compilation.js:388:4
  
  - Compilation.js:411 moduleFactory.create
    [obsessed-revith]/[webpack]/lib/Compilation.js:411:13
  
  - NormalModuleFactory.js:237 factory
    [obsessed-revith]/[webpack]/lib/NormalModuleFactory.js:237:20
  
  - NormalModuleFactory.js:60 resolver
    [obsessed-revith]/[webpack]/lib/NormalModuleFactory.js:60:20
  
  - NormalModuleFactory.js:127 asyncLib.parallel
    [obsessed-revith]/[webpack]/lib/NormalModuleFactory.js:127:20
  
  - async.js:3874 
    [obsessed-revith]/[async]/dist/async.js:3874:9
  
</pre>